body {
    background-color: #e7e5df;
}

#dashboard {
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#dashboard > div {
    margin: 10px 10px;
}

#dashboard-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

#dashboard-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #393e41;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.dashboard-filter-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    color: white;
}


#dashboard-charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

#dashboard-charts-energy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    flex: 3;
}


#dashboard-charts-energy > div:nth-child(1){
    flex: 2;
}

#dashboard-charts-energy > div:nth-child(2) {
    flex: 8;
}

#dashboard-charts-energy > div:nth-child(3) {
    flex-basis: 100%;
}


#dashboard-charts-battery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex: 2;
}

#dashboard-charts-battery > div:nth-child(1) {
    flex-basis: 100%;
}

.chart-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

    background-color: #d3d0cb;
    border: 1px solid #808080;
}

.chart-item > h2{
    margin-bottom: 10px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
