html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.d-flex {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 100px;
    background-color: #2C2F33;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-icon {
    width: 30px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-item {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: white;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #40444B;
}

.logout-section {
    background-color: #2C2F33;
    margin-top: auto;
    padding-bottom: 15px;
    width: 100%;
}

.logout {
    background-color: #2C2F33;
    padding: 20px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-width: 0px;
}

.logout:hover {
    background-color: #c9302c;
    cursor: pointer;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
}

.page-title {
    padding: 10px 20px;
    margin: 0;
}

.content {
    flex-grow: 1; 
    overflow: auto; 
    padding: 20px;
}
