<body class="authentication-body">
  <img class="authentication-solarflow-logo" src="assets/images/logo_cropped.png" alt="image">
  <h1 class="authentication-solarflow-title">SOLARFLOW</h1>
  <h2 class="authentication-solarflow-slogan">Energy Management Dashboard</h2>
  <h1 class="authentication-form-title">Register</h1>

  <form class="authentication-form" (submit)="register()">
    <input class="authentication-form-text-input" placeholder="Name" type="text" [(ngModel)]="name" name="name" required />
    <input class="authentication-form-text-input" placeholder="Email" type="email" [(ngModel)]="email" name="email" required />
    <input class="authentication-form-text-input" placeholder="Password" type="password" [(ngModel)]="password" name="password" required />
    <input class="authentication-form-text-input" placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    <button class="authentication-form-button background-blue" type="submit">Register Account</button>
  </form>
</body>
