/* Style for the continue button. */
.login-form-continue-button {
  width: 445px;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #44BBA4;
  padding-block: 10px;
  padding-inline: 20px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-self: center;
  cursor: pointer;
}

/* Style for forgot password. */
.login-form-forgot-password {
  color: white;
  margin-top: 20px;
  width: 445px;
  text-align: end;
  font-size: 16px;
  cursor: pointer;
}
