<body class="authentication-body">
  <img class="authentication-solarflow-logo" src="assets/images/logo_cropped.png" alt="image">
  <h1 class="authentication-solarflow-title">SOLARFLOW</h1>
  <h2 class="authentication-solarflow-slogan">Energy Management Dashboard</h2>
  <h1 class="authentication-form-title">Login</h1>

  <form class="authentication-form" (submit)="login()">
    <input class="authentication-form-text-input" placeholder="Username" type="text" [(ngModel)]="username" name="username" required />
    <input class="authentication-form-text-input" placeholder="Password" type="password" [(ngModel)]="password" name="password" required />
    <button class="login-form-continue-button" type="submit">Continue</button>
  </form>

  <p class="login-form-forgot-password" (click)="recoverAccount()">Forgot password?</p>
</body>

