@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    

    @if (Context.Session.GetString("AuthToken") != null)
    {
        <a asp-controller="Home" asp-action="RegisterViewAccount" class="btn btn-primary">Register View Account</a>
        <p></p>
        <form asp-action="Logout" asp-controller="Home" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>

        

    }
</div>