@{
    Layout = null;
    ViewData["Title"] = "Solarflow - Account Recovery";
}

@model SolarflowClient.Models.ViewModels.Authentication.AccountRecoveryViewModel

<link href="~/css/site.css" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="~/css/background.css" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="~/css/authentication/authentication-global.css" rel="stylesheet" type="text/css" asp-append-version="true" />

<body class="authentication-body">
    <div style="margin-top: 30px">
        <img class="authentication-solarflow-logo" src="~/images/logo_cropped.png" alt="Solarflow Logo">
        <h1 class="authentication-solarflow-title">SOLARFLOW</h1>
        <h2 class="authentication-solarflow-slogan">Energy Management Dashboard</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="authentication-success-container">
                <p class="authentication-success-message">@TempData["SuccessMessage"]</p>
            </div>
        }
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="authentication-success-container">
            <p class="authentication-success-message">@TempData["SuccessMessage"]</p>
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="authentication-error-container">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p class="authentication-error-message">@error.ErrorMessage</p>
            }
        </div>
    }

    <h1 class="authentication-form-title">Account Recovery</h1>

    <form class="authentication-form" asp-action="AccountRecovery" method="post">
        <div class="authentication-input-div">
            <label class="authentication-form-label">Email</label>
            <input asp-for="Email" class="authentication-form-text-input" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="authentication-form-button background-blue">Send Reset Link</button>
    </form>

    <div class="authentication-form-footer">
        <a asp-action="Login" class="authentication-form-link">Back to Login</a>
    </div>
</body>
